openai
anthropic
google-generativeai
python-dotenv
pytesseract
Pillow
PyMuPDF
python-docx
langchain
faiss-cpu
langchain-community

openai
tiktoken
langchain
python-dotenv
pytesseract
PyMuPDF
python-docx
Pillow
gradio
google-generativeai
anthropic
faiss-cpu
